/**color: #243e3e;
grey color for icons
*/

/**BASIC SET UP

always start with border box
*/

* {
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    /**
 * You can do this overall styling in body or in html
    html, just doing both just in case { background-color, etc... 
    
}
    . root is actually even a higher heirchy. font weight and size style preference but
    certainly you can // often background color and text color will be html and in body will be the font size, weight, and rendering style. 
    for now we will stick it in body. if for some reason something is off we can 
 */
    background-color: #eaf2f2;
    color: #000000;  
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    
}

/* this is a hack to kind of reset the float. To make sure the float ( such as the pictures, stay fixed*/

.clearfix {zoom: 1}
.cearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    
}

/* ----- HEADINGS ----- */



.name
{
    font-size: 370%;
    font-weight: 500;
    text-transform: uppercase;
    color: #eaf2f2;
    font-family: fantasy,'Helvetica', serif;
    word-spacing: 10px;
    letter-spacing: 4px;
    text-align: right;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-shadow:
		-1px -3px 0 rgba(176, 31, 181, 0.5),
		1px -1px 0 rgba(0, 0, 0, 0.66),
		-1px 1px 0 rgba(203, 34, 217, 0.63),
		1px 1px 0 rgba(181, 68, 181, 0.63);
    
}

/*
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-family: 'Roboto', 'Helvetica', sans-serif
}
*/

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    padding-bottom: 30px;
    letter-spacing: 1px;
    font-family: 'Lato','Arial', sans-serif;
    padding-top: 60px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    margin-top: 15px;
        font-family: 'Lato','Arial', sans-serif;;
}
/* after allows putting content in using css,. the below is a line
*/
h2:after {
    display: block;
    height: 2px;
    background-color: rgba(174, 119, 183, 0.51);
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}


/* ----- PARAGRAPHS ----- */

p {
    font-family: 'Lato', 'Arial', sans-serif;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    
}
.box p{
    font-size: 90%;
    line-height: 145%;
    
}
/* ----- ICONS ----- */
.icon-big {
    font-size: 250%;
    display: block;
    margin-bottom: 10px;
    color: #243e3e;
    
}


/* ----- LOGO ----- NOT SURE WE NEED THIS*/

.logo-area img {
    height: 400px;
    width: 900px;
    float: middle;
}

.cati
{
    margin-top: 30px;
}


.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
}
.btn-full {
    background-color: #cef0f0
        border: 1px solid #606464;
}
.btn-ghost {
    border: 1px solid #606464;
}

/* ----- BUTTONS ----- */

/* there are different states in links and buttons, below means that both button link and
button visited looks the same / has the same design/ some sites have the links change a 
different style after it has been clicked. too chaotic for me.*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 40px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 15px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: rgb(171, 102, 183);
    border: 1px solid rgb(171, 102, 183);
    color: #ffffff;
    
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid rgb(100, 55, 108);
    color: rgb(171, 102, 183);
}

.btn:hover,
.btn:active {
    background-color: rgb(129, 80, 137);
}
/* HEADER AREA INCLUDES THE LOGO AND NAV
*/
header {
   background-image: url(img/sunset.jpg);
   background-size:cover;
   background-position: center;
   height: 60vh; /*60vh*/
    
}
/* may want to move the photo text box area around but for this iteration it can stay
    */
.photo-text-box {
    position:absolute;
    width: 800px;
    top: 300px;
    left: 190px;
    text-align:inherit;
    transform: translate(-50% -50%);
    /* below is unecessary right now
    -webkit-transform: translate((-50% -50%);
     -ms-transform: translate((-50% -50%);
    */
    
}

.main-nav
{
   align-content: center;
    /* list style none takes the bullet points out
    */
    list-style: none;
}

.main-nav li{
    display: inline-block;
    margin-left: 120px;
    align-content: center;
    text-shadow:
		-0px -0px 0 #000000,
		1px -0px 0 #000000,
		-0px 0px 0 #000000,
		0px 1px 0 rgba(0, 0, 0, 0.38);
    
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #ffffff;
    text-decoration: inherit;
    text-transform: uppercase;
}

.main-nav li a:hover,
.main-nav li a:active { 
    border-bottom: 2px solid rgb(159, 111, 167);
}
/* ----- GRID BOX AREA/ REUSABLE COMPONENTS ----- */
/* here begins the grid section of the css, you have to first establish a row, the 
max-width is the general width of a computer screen
*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 8px;
}

.box {
    padding: 1%;
}

/* ----- Section 2 Photo Area ----- */

.design-showcase {
    list-style:none;
    width:100%:
         
}

/* ----- Breaks these into 4's 4 x 25% = 100%  ----- */

.design-showcase li{
    display:block;
    float:left;
    width:25%;
    
}
.section-design{
    padding: 0;
    
}

/* ----- FEATURES ----- */

.section-services .long-copy {
    margin-bottom: 30px;
    
}

/* -----black is used because it will show through and darken the photos
all these tricks----- */
.design-photo{
    width:100%;
    margin:0;
    overflow: hidden;
    background-color: #000;
    
    
}

/* ----- opacity is 70%  ----- */
.design-photo img{
    opacity: 0.7;
    width: 100%;
    height:auto;
    transform: scale(1.15);
    transition: transform 0.5s;
    
    
}
.design-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
    
}
             

/*------Circle-------*/
.circle {
shape-outside: circle(225px at 50% 50%);
  clip-path: circle(100px at 50% 50%);
 width: 500px;
  height: 400px;
  float: left;

}

/*--------------outter and inner circle-------------------*/

#content {

float: left;

}

#outer-circle {

   position: absolute;
   margin-left: 50px;
   margin-top: 10px;
   width: 380px;
   height: 380px;
   background-color: rgb(195, 156, 195);
   border-radius: 500px;
}

#inner-circle{
      margin-left: 15px;
      margin-top: 15px;
      position: inherit;
      width: 350px;
      height: 350px;
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
    background-image: url(img/girl.jpg);
    background-size:cover;
   background-position: center;
       
    }



/* ------------ICON NAV---------*/
.icon-nav
{
    align-content: center;
    /* list style none takes the bullet points out
    */
    list-style: none;
    margin-top: 10px;
}
.icon-nav li{
    display: inline-block;
    margin-left: 40px;  
}

/*----------FOOTER-----------*/
/*.footer
{
    background-color: #d4d4d4;
    height: 110px;
}*/

footer {
    background-color: #b5b3b3;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #403e3e;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #4caae5;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.icon ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.icon ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #222222;
    text-align: center;
    margin-top: 20px;
}

/* ----------------------------------------------- */
/* non-sticky NAVI*/
/* ----------------------------------------------- */

.sticky {
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px #ffffff;
    background-color: rgba(186, 177, 177, 0.69)

}

.sticky .main-nav 
{ 
    margin-top: 20px; 
    margin-bottom: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0px;

}

/* ----------------------------------------------- */
/*                 backtotop                       */
/* ----------------------------------------------- */
.backtotop
{
    margin-top: 90%; 
    font-size: 20px;
    color: #65006d;
}

