/**color: #243e3e;
grey color for icons
*/

/**BASIC SET UP

always start with border box
*/

* {
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    /**
 * You can do this overall styling in body or in html
    html, just doing both just in case { background-color, etc... 
    
}
    . root is actually even a higher heirchy. font weight and size style preference but
    certainly you can // often background color and text color will be html and in body will be the font size, weight, and rendering style. 
    for now we will stick it in body. if for some reason something is off we can 
 */
    color: #000000;  
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* this is a hack to kind of reset the float. To make sure the float ( such as the pictures, stay fixed*/

.clearfix {zoom: 1}
.cearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    
}

/* ----- HEADINGS ----- */


h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    padding-bottom: 30px;
    letter-spacing: 1px;
    font-family: 'Lato','Arial', sans-serif;
    padding-top: 60px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: rgba(174, 119, 183, 0.51);
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}



/* ----- PARAGRAPHS ----- */

p {
    font-family: 'Lato', 'Arial', sans-serif;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    
}
.box p{
    font-size: 90%;
    line-height: 145%;
    
}


/* ----- BUTTONS ----- */

/* there are different states in links and buttons, below means that both button link and
button visited looks the same / has the same design/ some sites have the links change a 
different style after it has been clicked. too chaotic for me.*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 40px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 15px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: rgb(171, 102, 183);
    border: 1px solid rgb(171, 102, 183);
    color: #ffffff;
    
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid rgb(100, 55, 108);
    color: rgb(171, 102, 183);
}

.btn:hover,
.btn:active {
    background-color: rgb(129, 80, 137);
}




.main-nav
{
   align-content: center;
    /* list style none takes the bullet points out
    */
    list-style: none;
}

.main-nav li{
    display: inline-block;
    margin-left: 120px;
    align-content: center;
    text-shadow:
		-0px -0px 0 #000000,
		1px -0px 0 #000000,
		-0px 0px 0 #000000,
		0px 1px 0 rgba(0, 0, 0, 0.38);
    
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #ffffff;
    text-decoration: inherit;
    text-transform: uppercase;
}

.main-nav li a:hover,
.main-nav li a:active { 
    border-bottom: 2px solid rgb(159, 111, 167);
}

/* ----- GRID BOX AREA/ REUSABLE COMPONENTS ----- */
/* here begins the grid section of the css, you have to first establish a row, the 
max-width is the general width of a computer screen
*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 8px;
}

.box {
    padding: 1%;
}


/* ----------------------------------------------- */
/* non-sticky NAVI*/
/* ----------------------------------------------- */

.sticky {
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px #ffffff;
    background-color: rgba(186, 177, 177, 0.69)

}

.sticky .main-nav 
{ 
    margin-top: 20px; 
    margin-bottom: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0px;

}

.title
{
    font-weight: 600; 
    font-size: 22px;
color: rgb(0, 93, 162);
}

footer
{
    height: 50px;
}

/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */
.contact-info
{
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 50px;
}


.border{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #969696;
    background-color: rgb(187, 152, 193);
}


.contact-form {
    padding: 50px;
    border: 9px solid #ffffff;
    background-color: rgb(237, 237, 237);
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 7px;
    border: 1px solid #959595;
}

textarea {
    height: 250px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

.find-us
{
height: 40px;    
}
*:focus {outline: none;}


/* ----------------------------------------------- */
/* resume*/
/* ----------------------------------------------- */

.resume
{background: #484747;}

.resumeimg
{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}

.background
{
    background-color: black;
}

/* ----------------------------------------------- */
/* portfolio*/
/* ----------------------------------------------- */

.pbackground
{
    background-image: url(img/800px_COLOURBOX3016215.jpg);
}
